<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/Logo-navbar.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i id="icon-bars" class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!user" class="nav-item active">
        <a [routerLink]="['/login']"class="nav-link"><button type="button" class="btn btn-success">Iniciar sesión</button></a>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a [routerLink]="['/register']" class="nav-link" href="#"><button type="button" class="btn btn-warning">Registrarse</button></a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a [routerLink]="['/main']" href="#" class="nav-link"><i style="font-size:30px;" class="fa fa-user-circle" aria-hidden="true"></i></a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a (click)="logout()" [routerLink]="['/logout']" href="#" class="nav-link"><i style="font-size:30px" class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  </div>
</nav>