 #navbar
 {
     background: #00135b;
 }

 .nav-link
 {
    color: #FFF;
    font-size: 18px;
 }

 .nav-link button
 {
     font-weight: bold;
 }
 .navbar-toggler
 {
     border: 1px solid #FFF;

 }
#icon-bars
 {
     color:#FFF;
     font-size: 35px;
 }