button {
    font-weight: bold;
}

.carousel-caption
{
    padding-bottom: 130px;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
}
#slideshow
{
    border-bottom: 5px solid #00135b;
}