<div id="slideshow">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100" src="assets/slideshow-1.png" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100" src="assets/slideshow-2.png" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Compra por internet lo que tu quieras y haz tu envios con nosotros.</h5>
        <p><button type="button" class="btn btn-warning">Registrarse</button></p>
      </div>
    </div>

    <div class="carousel-item">
        <img class="d-block w-100" src="assets/slideshow-3.png" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>¿Ya te creaste una cuenta? Entonces...</h5>
          <p><button type="button" class="btn btn-success">Inicia sesión</button></p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>