<div *ngIf="Form" class="container">
    <div class="form-group">
      <label for="email">Email address</label>
      <input [(ngModel)]="UserLogin.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu correo">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="UserLogin.password" type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
    </div>
    <div class="form-group">
      <div *ngIf="Message" class="alert alert-danger" role="alert">
        Email o contraseña incorrecta.
      </div>
    </div>
    <button (click)="login()" class="btn btn-success">Iniciar sesión</button>
  </div>
