<div *ngIf="Form" class="container">
  <div class="form-group">
    <label for="nombres">Nombres</label>
    <input [(ngModel)]="user.nombre" type="email" class="form-control" id="nombres" placeholder="Ingresa tus nombres">
  </div>
  <div class="form-group">
    <label for="apellidos">Apellidos</label>
    <input [(ngModel)]="user.apellido" type="email" class="form-control" id="apellidos" placeholder="Ingresa tus apellidos">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input [(ngModel)]="user.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresa tu email">
  </div>
  <div class="form-group">
    <label for="date">Fecha de nacimiento</label>
    <input [(ngModel)]="user.fecha_nacimiento" id="date" type="date" class="form-control">
    <div *ngIf="MessageFecha" class="alert alert-danger" role="alert">
      Tienes que ser mayor de 18 años.
    </div>
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
    <div *ngIf="MessagePassword" class="alert alert-danger" role="alert">
      La contraseña debe contener al menos una letra mayúscula, una minùscula, un numero y un caracter alfanúmerico.
    </div>
    <div *ngIf="MessagePasswordRepeat" class="alert alert-danger" role="alert">
      La primera contraseña tiene que coincidir con la segunda.
    </div>
  </div>
  <div class="form-group">
    <label for="repeatpassword">Repita la contraseña</label>
    <input [(ngModel)]="secondPassword" type="password" class="form-control" id="repeatpassword" placeholder="Repita la contraseña">
  </div>
  
  <button (click)="registrarUsuario()" class="btn btn-warning">Registrarse</button>
</div>
<div *ngIf="Message" class="container">
  <div class="alert alert-success" role="alert">
    Usuario creado con éxito.
  </div>
</div>