<div style="padding-top:20px;" class="container" *ngIf="!formOrder">

<button style="margin-bottom:20px" (click)="createOrder()" type="button" class="btn btn-success">Crear orden</button>
<app-information-user></app-information-user>
<app-orders-view></app-orders-view>
</div>

<div *ngIf="formOrder">
  <div style="padding-top:20px;padding-bottom:20px" class="container">
    <button (click)="regresar()" type="button" class="btn btn-success">Regresar</button>
  </div>
  <app-form-register-order></app-form-register-order>
</div>

