<div class="container" style="margin-bottom:20px">
  <div class="row">
    <div class="bg col-md-6">Nombre completo</div>
    <div class="col-md-6">{{ User.nombre + ' ' + User.apellido}}</div>
  </div>
  <div class="row">
      <div class="bgt col-md-6">Email</div>
      <div class="col-md-6">{{ User.email }}</div>
  </div>
  <div class="row">
      <div class="bg col-md-6">Fecha de nacimiento</div>
      <div class="col-md-6">{{ User.fecha_nacimiento }}</div>
  </div>
  <div class="row">
      <div class="bgt col-md-6">Cuenta creada en </div>
      <div class="col-md-6">{{ User.created_at }}</div>
  </div>
  <div class="row">
      <div class="bg col-md-6">Ultima actualización en </div>
      <div class="col-md-6">{{ User.updated_at }}</div>
  </div>
</div>
