div
{
    text-align:center
}
.container
{
    border: 1px solid #00135b;
    border-radius: 5px;
    font-size: 20px;
}
.bg
{
    background: #00135b;
    color: #FFF;
    font-weight: bold;
}
.bgt
{
    background: #7d96f2;
    color: #FFF;
    font-weight: bold;
}

.row
{
    border: 1px solid #00135b;
}