<div id="informacion">
  <div class="container">
    <div class="row">
        <div class="offset-lg-1 col-lg-3 col-3 col-md-6 col-sm-12">
          <img src="assets/icon-embassy.png" alt="">
          <div>
              <h1>GRATIS</h1>
              <p>Te ofrecemos envios totalmente gratis para tu comodidad de pago.</p>
          </div>
        </div>
        <div class="col-lg-3 col-3 col-md-6 col-sm-12">
            <img src="assets/icon-postal.png" alt="">
            <div>
                <h1>UBICALO</h1>
                <p>Nuestra app contiene Google Maps solo necesitamos las coordenadas. </p>
            </div>
        </div>
        <div class="col-lg-3 col-3 col-md-6 col-sm-12">
            <img src="assets/icon-arrow.png" alt="">
            <div>
                <h1>RÁPIDO</h1>
                <p> Te ofrecemos rapidez en tus envios, no nos tardamos mas 3 días.</p>
            </div>
        </div>
    </div>
  </div>
</div>