
#informacion div div div
{
    text-align:Center;
    padding-top: 25px;
}

#informacion {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #d9dade;
    text-align: center;
    border-bottom: 5px solid #00135b;
}