<div *ngIf="!orderCreated" class="container">
  <h1 style="text-align:center; margin: 10px auto">Crear una orden</h1>
  <div class="form-group">
    <input [(ngModel)]="order.peso" type="number" step="0.01" class="form-control" id="peso" placeholder="Peso del envío (Kgs)">
  </div>
  <div class="form-group">
    <textarea [(ngModel)]="order.descripcion" rows="4" cols="50" style="width:100%;padding:10px" placeholder="Descripción del envío">
    </textarea>
  </div>
    <div class="form-group">
    <div *ngIf="strMsg" class="alert alert-danger" role="alert">
      Las descripciones no pueden exceder de 150 caracteres.
    </div>
    </div>
  <div class="form-group">
      <label for="coordenadas">Destinatario</label>
  </div>
  <div class="form-group" style="overflow:hidden">
      <input style="float:left;width:48%;margin-right:20px" [(ngModel)]="order.destinatario.nombre" type="text" step="0.01" class="form-control" id="ciudad" placeholder="Nombre">
      <input style="float:left;width:48%;" [(ngModel)]="order.destinatario.apellido" type="text" step="0.01" class="form-control" id="pais" placeholder="Apellido">
  </div>
  <div class="form-group">
      <label for="linea_1">Direccion</label>
      <input [(ngModel)]="order.direccion.linea_1" type="text"  class="form-control" id="linea_1" placeholder="Línea 1">
    </div>
  <div class="form-group">
      <input [(ngModel)]="order.direccion.linea_2" type="text"  class="form-control" id="linea_1" placeholder="Linea 2">
  </div>
  <div class="form-group" style="overflow: hidden">
      <div style="width:100%;overflow:hidden">
          <input style="float:left;width:32%;margin-right:20px" [(ngModel)]="order.direccion.ciudad" type="text" step="0.01" class="form-control" id="ciudad" placeholder="Ciudad">
          <input style="float:left;width:31%;margin-right:20px" [(ngModel)]="order.direccion.pais" type="text" step="0.01" class="form-control" id="pais" placeholder="País">
          <input style="float:left;width:31%;" [(ngModel)]="order.direccion.codigo_postal" type="text" step="0.01" class="form-control" id="codigo_postal" placeholder="Còdigo Postal">
      </div>
      <div style="width:100%;margin-top:20px">
          <textarea [(ngModel)]="order.direccion.descripcion" rows="4" cols="50" style="width:100%; padding:15px" placeholder="Descripción de la dirección">
          </textarea>
      </div>
      <div class="form-group">
        <div *ngIf="strMsg" class="alert alert-danger" role="alert">
          Las descripciones no pueden exceder de 150 caracteres.
        </div>
       </div>
  </div>
  <div class="form-group">
      <label for="coordenadas">Coordenadas</label>
  </div>
  <div class="form-group">
    <app-map-order></app-map-order>
  </div>
  <div class="form-group" style="overflow:hidden">
      <input style="float:left;width:30%;margin-right:20px" (input)="latitud=$event.target.value" type="number" step="0.0000000001" class="form-control" id="latitudFormOrder" placeholder="Latitud">
      <input style="float:left;width:31%;margin-right:20px" (input)="longitud=$event.target.value" type="number" step="0.0000000001" class="form-control" id="longitudFormOrder" placeholder="Longitud">
      <button (click)="guardarCoordenadas()" id="save-map" style="float:left;width:31%" type="button" class="btn btn-success">Guardar</button>
  </div>
  <div class="form-group">
    <div *ngIf="coordenadaMsg" class="alert alert-success" role="alert">
      ¡Coordenadas guardadas con éxito!
    </div>
  </div>
  <div class="form-group">
      <button (click)="sendOrder()" id="order-button" style="width:100%" type="button" class="btn btn-success">Crear</button>
  </div>
</div>

<div class="container" *ngIf="orderCreated">
    <p>¡ORDEN CREADA CON ÉXITO!</p>
</div>