<div class="container">
    <app-map-orders-view></app-map-orders-view>
  </div>
<div style="margin-top:20px" class="container">
  <h3>Últimas ordenes:</h3>
  <table style="margin-top:50px" class="table" id="orders-views" style="width:100%">
    <tr>
      <th>ID</th>
      <th>DESTINATARIO</th>
      <th>COORDENADAS</th>  
      <th>DIRECCIÓN</th>       
    </tr>
    <tr *ngFor="let order of orders">
      <td class="orderId">{{ order.id }}</td>
      <td>{{ order.destinatario.nombre +' '+ order.destinatario.apellido}}</td>
      <td class="coordenadas">{{ '[' + order.coordenada.latitud +', '+ order.coordenada.longitud +']'}}</td>
      <td>{{ order.direccion.linea_1 +', '+ order.direccion.linea_2}}</td>
    </tr>
  </table>
</div>

